/*********************************************/
/* 			PayPal X Theme 1.0.14		     */
/*********************************************/

/* @really general */
* {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}


/* @end */
/* @group links */

a {
  color: #084482;
}
a:link, a:visited {
  color: #084482;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #084482;
  text-decoration: underline;
}

/* @end */
/* */
/* @group headers */
h1, h2, h3, h4, h5, h6 {
  color: #28426e;
  margin-bottom: .5em !important;
}
h2,h3 {
	color: #E27133 !important;
	font-weight: bold;
	margin: 25px 5px 0;
}
.header2 {
	text-align: center;
}
.header3 {
	text-align: right;
	margin: 0px 5%;
	font-size: 11px;
}

.header3 a {
	text-decoration: none;
	cursor: pointer;
}

/* @end */
/* @group forms */
input, select, textarea {
  border: 1px solid #ccc;
  font-size: 12px;
  width:210px;
  padding-bottom: 7px;
}


input[type="checkbox"], input[type="radio"] {
  border: 0 !important;
  width: 20px;
}

input.smallfield, select.smallfield {
	width: 105px;
	font-size: 12px;
}
.api td {
	text-align: left;
}





button {
  overflow: visible;
  width: auto;
  cursor: pointer;
}

wbr:after {
  content: "\00200B";
}

html {
  overflow-y: scroll;
}

body {
  font-size: 12px;
  line-height: 136.364%;
  color: #333333;
  font-family: Verdana, Arial, Helvetica sans-serif;
  z-index: auto;
  background: url(../images/body_bg_white.png) no-repeat 50% 190px;
}

body #jive-wrapper {
  overflow: hidden;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 978px;
  max-width: 100%;
  max-width: none;
  width: 978px !important;
}
body #jive-wrapper {
  display: block;
}

/** Change error box **/
.jive-error-box {
	background-color:#fffedf;
	border:1px solid #ffcf0e;
	}
.jive-error-box div {
	background:transparent url(../images/app-info-caution.png) no-repeat scroll 10px;
	padding: 15px 10px 15px 44px;
	}
/** END Error box **/



#jive-header {
  width: 100%;
  display: inline;
  float: left;
  clear: both;
  margin-right: 1.84%;
  margin-left: 1.84%;
  margin-bottom: 20px;
  background: url(header_bg.png) no-repeat 0 0;
  position: relative;
  z-index: 10000;
  height: 85px;
}

#logo {
  display: inline;
  float: left;
  padding: 25px 0 5px 30px;
  width: 90%;
}
#logo span{
float: right; 
height: 30px;
}


#jive-footer {
  width: 978px !important;
  clear: both;
  margin-right: auto;
  margin-left: auto;
  background: none;
  border-top: none;
  min-width: 1%;
}
#jive-footer ul {
  text-align: center;
  margin: 0 auto;
}
#jive-footer li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  /* ugly hacks for IE6-7 */
  #display: inline;
  #vertical-align: auto;
  /* end ugly hacks */
  text-align: left;
  list-style: none;
  border-right: 1px solid #084482;
  padding: 0 10px 0 10px;
  line-height:13px;
}
#jive-footer li.last {
  border-right: none;
}
#jive-footer a {
  font-size: 11px;
}


.pop-button {
  border: 0;
  padding: 0 0 0 10px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;  
}
a.pop-button {
  display: inline-block;
}
.pop-button::-moz-focus-inner {
  border: none;
}
button.pop-button {
  overflow: visible;
}
button.pop-button span {
  *margin-top: -1px;
  display: block;
  position: relative;
}
.pop-button:hover {
  text-decoration: none;
}
.pop-button, .pop-button span {
  cursor: pointer;
  background: url(pop-button-sprite.png) 0 0 repeat-x;
}
.pop-button span {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  padding: 0 10px 0 0;
}
.pop-button.primary {
  background-position: 0 0 !important;
  color: #fff !important;
  display: inline-block;
  height: 24px;
  line-height:24px;
}
.pop-button.primary span {
  background-position: 100% -50px !important;
  height:24px;
  line-height: 24px
}
.pop-button.secondary {
  background-position: 0 -100px !important;
  color: #333 !important;
}
.pop-button.secondary span {
  background-position: 100% -150px !important;
}
.pop-button u {
  text-decoration: none;
}

#loginbox {
	float: right; 
	height: 30px;
}
.greybox {
	color: grey;
	font-size: 10px;
}
#navPrimary h2 {
	background:url("nav_second_bg.gif") repeat-x scroll left bottom transparent;
	display:block;
	left:0;
	overflow:visible;
	padding:0;
	position:relative;
	width:100%;
	margin: 0;
}
td.label {
	text-align: left;
	width: 120px;
}
td.label a{
	text-decoration:none;
}
#titlex{
background:url("logoCommerce.png") no-repeat;
width:266px;
height:28px;
border:0px; 
}

.thinfield0 {
	 width: 200px;
	 font-size: 12px;
}

.thinfield {
	 width: 160px;
	 font-size: 12px;
}

.thinfield2 {
	 width: 100px;
	 font-size: 12px;
}

.tab,.tabselect,.tabitem,.note_top{
	display: block;
	width: 180px;
	height: 30px;
	padding: 5px;
	border-top: 1px dotted #E6EAE9;
}
.tab {
	height: 13px;
	text-align: left;
	border: 1px solid #CCCCCC;
	border-top: 0px;
	width: 200px;
	background: url("bullet-grey.gif") no-repeat 5px 12px;
	padding-left: 15px;
}
.tab.selected {
	background: url("bullet-selected.png") no-repeat 5px 12px;
	font-weight: bold;
}
.selected:hover{
	background-color:#659EC7;
}

.note_top { 
	background-image: url(nav_second_bg.gif); 
	line-height: 18px;
	height: 18px; 
	text-align: center; 
	font-weight: bold; 
	font-size: 10pt; 
	color: #000000;     
	border: 1px solid #CCCCCC;
	width: 210px;
}
.header
{
    background-image: url(nav_second_bg.gif);
}
.tabitem{
background-color:#009900;
padding-left:15px;
width:140px;
}
.tabselect{
background-color:#E6EAE9;
}

a:hover{
	color:#E6EAE9;
	background-color:#659EC7;
	text-decoration:underline;
}

#menu {
	float: left;
	margin: 80px 1.84% 30px;
}

#request_form {
	float: left;
	width: 70%;
}
#response_form {
	float: left;
	width: 70%;
}

#footer {
	clear: none;
}

#main {
	min-width: 1000px;
    _width: 1000px;
}

.tooltip {
	display: none; 
	position: absolute; 
	border: 2px solid black; 
	background-color: white; 
	padding: 20px;
}

.clear  {
	clear: left;
}

#tabselect{
color:#000;
background-color:#E6EAE9;
}
.smalltext{
width: 120px;
}
